@import "./button.css";

body {
    font-family: Meiryo, "メイリオ", "Hiragino Kaku Gothic ProN", Verdana, Arial, Helvetica, sans-serif;
}

.carousel {
    height: calc(100vh - 63.5px);
    margin-top: 0px;
}

.carousel-img {

    height: calc(100vh - 63.5px);
    object-fit: cover;
    cursor: pointer;
}

/* server */
.center-align {
    text-align: center;
}

.bottom-bar {
    /* padding: 16px 0; */
    border-bottom: 8px solid #006EB7;
    border-radius: 0.5rem;
    display: inline-block;
    margin-top: 64px;
    margin-bottom: 48px;
}

.main-card {
    padding: 0 2em;
}

.card:hover {
    cursor: pointer;
    border-radius: 0.45rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.125);
}

/* news */
.main-content {
    margin-top: 1.25rem;

}

.main-content .row {
    margin: 0 auto;

}

.main-content hr {
    border: 0;
    color: #333;
    background-color: #333;
    height: 2px;
    margin: 0;

}

/*---------- contact --------*/
#contact {
    padding: 0 16px;
    overflow: hidden;
}

input[type="text"] {
    border: 1px solid #ddd;
    padding: 8px;
    width: 100%;
    border-radius: 2px;
    margin: 5px 0;
}

input[type="text"]:focus {
    outline: none;
    border: 1px solid #6CF;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
}

#contact .wrapper {
    margin-top: 24px;
    margin-bottom: 24px;
    float: right;
}


/* top */
.top {
    width: 50px;
    height: 50px;
    background-color: #006EB7;
    opacity: 0.95;
    border-radius: 10px;
    padding: 7.5px;
    display: flex;
    justify-content: center;
    position: fixed;
    right: 0;
    bottom: 0;
}

.top #topArrow {
    cursor: pointer;
    z-index: 1000;
}


@media only screen and (min-width: 768px) {
    .main-card {
        margin-top: 1.75em;
        margin-bottom: 1.75em;
    }

    #contact {
        padding: 1rem;
    }
}

@media only screen and (max-width: 767px) {
    .main-card {
        margin-top: 1.75em;
        margin-bottom: 1.75em;
        padding: 0 0em;
    }

    #contact {
        padding: 1rem;
    }
}