* {
  font-family: 'Nunito', 'Roboto', 'M PLUS Rounded 1c', 'Kosugi Maru', "メイリオ", "Hiragino Kaku Gothic ProN", Verdana, Arial, Helvetica, sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
}

.z100 {
  z-index: 5;
}

.caps {
  /* 大写字母 */
  text-transform: uppercase;
}

.ofh {
  overflow: hidden;
}

.bg-dark-blue {
  background-color: #003149;
}

.bg-darkest-blue {
  background-color: #012334;
}

.c-dark {
  color: #003149;
}

.f {
  display: flex;
}

.fc {
  display: flex;
  justify-content: center;
}

.fw {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.jcb {
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between;
}


.aic {
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
}


.x {
  width: 100%;
}

.rel {
  position: relative;
}

.abs {
  position: absolute;
}

.mxa {
  margin-left: auto;
  margin-right: auto;
}

.h6 {
  margin: 0;
  line-height: 1.6;
  font-size: 0.88rem;
}

.clear-a {
  text-decoration: none;
}

.clear-a:hover {
  text-decoration: none;
}



@media screen and (min-width:1200px) {

  /* 深色主题按钮 */
  .btn-dark-blue {
    display: block;
    color: #fff;
    padding: 0.5rem 2rem;
    border: 2px solid #264989c7;
    border-radius: 0.5rem;
    background-color: #264989;
    outline: none;
    font-size: 22px;
    transition-property: background-color, color;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
    margin-top: 2rem;
    outline: none;
  }

  .part-title {
    text-align: center;
    display: block;
  }

  /* 区域title */
  .part-title hr {
    margin-top: 2rem;
    background-color: #264989;
    height: 3px;
    width: 158px;
  }
}

@media screen and (max-width:1200px) and (min-width:760px) {

  /* 深色主题按钮 */
  .btn-dark-blue {
    display: block;
    color: #fff;
    padding: 0.5rem 2rem;
    border: 2px solid #264989c7;
    border-radius: 0.5rem;
    background-color: #264989;
    outline: none;
    font-size: 22px;
    transition-property: background-color, color;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
    outline: none;
    margin-top: 2rem;
  }

  .part-title {
    text-align: center;
    display: block;
  }

  /* 区域title */
  .part-title hr {
    margin-top: 2rem;
    background-color: #264989;
    height: 3px;
    width: 158px;
  }
}

@media screen and (max-width:760px) {

  /* 深色主题按钮 */
  .btn-dark-blue {
    display: block;
    color: #fff;
    padding: 0.75rem 5rem;
    border: 2px solid #264989c7;
    border-radius: 0.5rem;
    background-color: #264989;
    outline: none;
    font-size: 22px;
    transition-property: background-color, color;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
    outline: none;
    margin-top: 1rem;
  }

  .part-title {
    text-align: center;
    display: block;
  }

  /* 区域title */
  .part-title hr {
    margin-top: 1rem;
    background-color: #264989;
    height: 3px;
    width: 158px;
  }
}

.btn-dark-blue:hover {
  cursor: pointer;
  color: #264989;
  border: 2px solid #264989c7;
  background-color: #fff;
  transition-property: background-color, color;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
  outline: none;

}

/* mask */
.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(36, 36, 36, 0.774);
  color: #ffffff;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: .25s;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
}

.mask>a {
  font-size: 22px;
  color: #fff;
  border: 1px solid white;
  border-radius: 5px;
  text-align: center;
  padding: 2.5px 15px 2.5px 15px;
  text-decoration: none;
}

.mask:hover {
  cursor: pointer;
  opacity: 1;
  transition-duration: .25s;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
}

/* mask with light */
.mask-light {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(39, 39, 39, 0.247);
  color: #ffffff;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: .25s;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
}

.mask-light>a {
  font-size: 22px;
  color: #fff;
  border: 1px solid white;
  border-radius: 5px;
  text-align: center;
  padding: 2.5px 15px 2.5px 15px;
  text-decoration: none;
}

.mask-light:hover {
  cursor: pointer;
  opacity: 1;
  transition-duration: .25s;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
}