.g-navbar {
  width: 100%;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.125);
  padding: 0;
  margin: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  opacity: 0.995;
  display: flex;
  justify-content: center;
  background-color: #fff;
  /* transition: all .9s 0s cubic-bezier(.165, .84, .44, 1); */
}

@media screen and (min-width:1200px) {

  /* 页面大于1200px */
  .g-nav {
    display: flex;
    width: 95%;
    height: 80px;
    background-color: #fff;
    box-sizing: border-box;
    padding: 0;
  }

  .g-nav .img-responsive {
    width: 32.5px;
    height: auto;
  }

  .logo-font {
    font-size: 32px;
    font-weight: 600;
    margin-left: 5px;
  }

  .nav-menu,
  .nav-logo .nav-right {
    padding: 0;
  }

  .nav-logo {
    width: 15%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 0 10px 0;

  }

  .nav-logo .img-responsive {
    width: 32px;
    height: auto;
    margin: 0;
  }

  .nav-menu {
    width: 70%;
    display: flex;
    justify-content: center;

  }

  .nav-right {
    width: 15%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
  }

  .navbar-center {
    font-weight: 600;
    padding: 0;
    font-size: 18px;
    flex-wrap: nowrap;
    display: flex;
    justify-content: center;
    position: relative;
  }

  .navbar-center .menu-item {
    margin-left: 17.5px;
    margin-right: 17.5px;
    color: #333;
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }

  .menu-item:hover {
    text-decoration: underline;
    color: #264989c5;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    cursor: pointer;
  }

  .svg-down {
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
  }

  .menu-item:hover>span>i {
    transition: all .2s;
    transform: rotate(180deg);
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
  }

  .menu-item>ul {
    width: 100%;
    list-style: none;
    color: #333;
    margin: 0;
    padding: 0;
    transition: all .6s 0s cubic-bezier(.165, .84, .44, 1);
  }

  .menu-item>ul>li>a>i {
    color: rgba(51, 51, 51, 0.685);
    padding-right: 8px;
    font-size: 13px;
  }

  .expand>ul {
    width: 100%;
    display: none;
    font-weight: normal;
    padding: 10px 2rem 10px 2rem;
    border-radius: 0.45rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.135);
    background-color: #fff;
    position: relative;
    opacity: 1;
    transition: all .2s 0s cubic-bezier(.165, .84, .44, 1);
  }

  .expand>ul>li {
    width: 50%;
    float: left;
    display: block;
    font-size: 14px;
    transition: all .2s 0s cubic-bezier(.165, .84, .44, 1);
  }

  .expand:hover>ul {
    opacity: 1;
    display: block;
    position: absolute;
    top: 80px;
    left: 0;
    transition: all .25s 0s cubic-bezier(.165, .84, .44, 1);
  }

  .expand>ul>li:hover {
    color: #fff;
    background-color: #264989;
    transition: all .25s 0s cubic-bezier(.165, .84, .44, 1);
  }

  .expand>ul>li>a {
    display: block;
    width: 100%;
    color: #333;
    margin: 0;
    padding: 0.6rem 1.5rem 0.6rem 1.5rem;
    transition: all .25s 0s cubic-bezier(.165, .84, .44, 1);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .expand>ul>li:hover>a {
    color: #fff;
    text-decoration: none;
  }

  .expand>ul>li:hover>a>i {
    color: #fff;
    text-decoration: none;
  }

  .nav-lan {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
  }

  .nav-lan:hover>div>i {
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    transform: rotate(180deg);
  }

  .nav-lan:hover {
    text-decoration: underline;
    color: #264989c5;
    cursor: pointer;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
  }

  .nav-lan .lan-select {
    display: none;
    list-style: none;
    font-weight: normal;
    padding: 10px 1rem 10px 1rem;
    border-radius: 0.45rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.135);
    background-color: #fff;
    opacity: 1;
    transition: all .2s 0s cubic-bezier(.165, .84, .44, 1);
  }

  .nav-lan .lan-select>li>a {
    text-decoration: none;
    color: #333;
  }

  .nav-lan:hover>.lan-select {
    display: block;
    position: absolute;
    top: 80px;
    left: -15px;
  }

  .nav-lan .lan-select>li>a:hover {
    text-decoration: underline;
    color: #333;
  }

  .nav-search:hover {
    cursor: pointer;
    opacity: 0.75;
    color: #264989;
    transition: all .2s cubic-bezier(.165, .84, .44, 1);
  }

  .nav-search {
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
  }

  .nav-search .search-click .search-on {
    display: block;
    opacity: 1;
  }

  .nav-search .search-click .search-off {
    font-size: 20px;
    display: none;
    opacity: 1;
  }

  .search-input {
    /* display: none; */
    display: none;
    position: absolute;
    top: 80px;
    right: 0;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 0.45rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.135);
    background-color: #fff;
  }

  .search-input input {
    outline: none;
    background: transparent;
    border-radius: 0.45rem;
    border: 1px solid #264989;
    padding: 8px;
  }

  .search-input button {
    color: #333;
    margin-left: 8px;
    padding: 6px;
    padding: 7px 1rem 7px 1rem;
    border: 2px solid #264989c7;
    border-radius: 0.45rem;
    background-color: #fff;
    outline: none;
    font-size: 16px;
    transition-property: background-color, color;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
  }

  .search-input button:hover {
    cursor: pointer;
    color: #fff;
    background-color: #264989;
    transition-property: background-color, color;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
  }

  /* 页面大于1200px */
}


@media screen and (max-width:1199.8px) and (min-width:760px) {

  /* 页面1200px~760px */
  .g-nav {
    display: flex;
    width: 95%;
    height: 80px;
    background-color: #fff;
    box-sizing: border-box;
    padding: 0;
  }

  .g-nav .img-responsive {
    width: 32.5px;
    height: auto;
  }

  .logo-font {
    font-size: 32px;
    font-weight: 600;
    margin-left: 5px;
  }

  .nav-menu,
  .nav-logo .nav-right {
    padding: 0;
  }

  .nav-logo {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0 10px 20%;
  }

  .nav-logo .img-responsive {
    width: 32px;
    height: auto;
    margin: 0;
  }

  .nav-menu {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
  }

  .nav-right {
    margin-left: 70px;
    width: 15%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .navbar-center {
    font-weight: 600;
    padding: 0;
    font-size: 18px;
    flex-wrap: nowrap;
  }

  .navbar-center .menu-item {
    /* flex-wrap: nowrap; */
    margin-left: 17.5px;
    margin-right: 17.5px;
    /* margin: 22.5px; */
    color: #333;
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }

  .menu-item:hover {
    text-decoration: underline;
    color: #264989c5;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    cursor: pointer;
  }

  .svg-down {
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
  }

  .menu-item:hover>span>i {
    transform: rotate(180deg);
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
  }

  .nav-lan {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .nav-lan div {
    display: flex;
    align-items: center;
  }

  .nav-lan:hover>div>i {
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    transform: rotate(180deg);
  }

  .nav-lan:hover {
    /* text-decoration: underline; */
    color: #264989c5;
    cursor: pointer;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
  }

  .nav-lan .lan-select {
    display: none;
    list-style: none;
    font-weight: normal;
    padding: 10px 1rem 10px 1rem;
    border-radius: 0.45rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.135);
    background-color: #fff;
    position: relative;
    opacity: 1;
    transition: all .25s 0s cubic-bezier(.165, .84, .44, 1);
  }

  .nav-lan .lan-select>li>a {
    text-decoration: none;
    color: #333;
  }

  .nav-lan:hover>.lan-select {
    display: block;
    position: absolute;
    top: 80px;
  }

  .nav-lan .lan-select>li>a:hover {
    text-decoration: underline;
    color: #333;
  }

  .nav-search:hover {
    cursor: pointer;
    opacity: 0.75;
    color: #264989;
    transition: all .25s;
  }

  .nav-search {
    transition-duration: 0.25s;
    transition-timing-function: ease-in;
  }

  .nav-search .search-click .search-on {
    display: block;
    opacity: 1;
  }

  .nav-search .search-click .search-off {
    display: none;
    opacity: 1;
  }

  .search-input {
    display: none;
    position: absolute;
    top: 80px;
    right: 0;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 0.45rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.135);
    background-color: #fff;
  }

  .search-input input {
    outline: none;
    background: transparent;
    border-radius: 0.45rem;
    border: 1px solid #264989;
    padding: 6px;
  }

  .search-input button {
    color: #333;
    margin-left: 8px;
    padding: 6px;
    padding: 6px 1rem 6px 1rem;
    border: 2px solid #264989c7;
    border-radius: 0.45rem;
    background-color: #fff;
    outline: none;
    font-size: 16px;
    transition-property: background-color, color;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
  }

  .search-input button:hover {
    cursor: pointer;
    color: #fff;
    background-color: #264989;
    transition-property: background-color, color;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
  }

  /* 页面1200px~760px */
}

@media screen and (max-width:759.8px) {

  /* 页面小于760 */
  .g-nav {
    display: flex;
    width: 95%;
    height: 80px;
    background-color: #fff;
    box-sizing: border-box;
    padding: 0;
  }

  .g-nav .img-responsive {
    width: 32.5px;
    height: auto;
  }

  .logo-font {
    font-size: 32px;
    font-weight: 600;
    margin-left: 5px;
  }

  .nav-menu,
  .nav-logo .nav-right {
    padding: 0;
  }

  .nav-logo {
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0 3px 0;
  }

  .nav-logo .img-responsive {
    width: 32px;
    height: auto;
    margin: 0;
  }

  .nav-menu {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
  }

  .nav-right {
    display: none;
  }

  .navbar-center {
    font-weight: 600;
    padding: 0;
    font-size: 18px;
    flex-wrap: nowrap;
  }

  .navbar-center .menu-item {
    /* flex-wrap: nowrap; */
    margin-left: 17.5px;
    margin-right: 17.5px;
    /* margin: 22.5px; */
    color: #333;
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }

  .menu-item:hover {
    text-decoration: underline;
    color: #264989c5;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    cursor: pointer;
  }

  .svg-down {
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
  }

  .menu-item:hover>span>i {
    transform: rotate(180deg);
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
  }

  .nav-lan .lan-select {
    width: 100%;
    list-style: none;
    font-weight: normal;
    background-color: #fff;
    align-items: center;
    position: absolute;
    left: 0px;
    bottom: -5px;
  }

  .nav-lan .lan-select>li{
    width: 33.3%;
    float: left;
  }

  .nav-lan .lan-select>li>a {
    text-decoration: none;
    color: #333;
  }

  .nav-search:hover {
    cursor: pointer;
    opacity: 0.75;
    color: #264989;
    transition: all .25s;
  }

  .nav-search {
    transition-duration: 0.25s;
    transition-timing-function: ease-in;
  }

  .search-input {
    width: 100%;
    position: absolute;
    bottom: 50px;
    right: 0;
    padding: 1rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.135);
    background-color: #fff;
  }

  .search-input input {
    width: 100%;
    height: 45px;
    float: left;
    outline: none;
    background: transparent;
    border-radius: 0.45rem;
    border: 1px solid #264989;
    padding: 6px;
  }

  .search-input button {
    display: none;
  }

  .menu-item>ul {
    width: 100%;
    list-style: none;
    color: #333;
    margin: 0;
    padding: 0;
    transition: all .25s 0s cubic-bezier(.165, .84, .44, 1);
  }

  .menu-item>ul>li>a>i {
    color: rgba(51, 51, 51, 0.685);
    padding-right: 8px;
    font-size: 13px;
  }

  /* 页面小于760 */
}