@media screen and (min-width: 1200px) {
  .map-container {
    padding-top: 40px;
    width: 100%;
  }

  .map-height {
    width: 100%;
    height: 400px;
  }

  #map {
    height: 100%;
  }

  /* footer-part */
  .footer {
    width: 100%;
    height: 309px;
    background-image: url("./../imgs/tokey-1921.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    position: relative;
  }

  .footer::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background-color: black;
    opacity: 0.6;
    z-index: 1;
    width: 100%;
    height: 100%;
  }

  .footer .c-white {
    color: #fff;
  }

  .footer-inner {
    width: 80%;
    z-index: 5;
  }

  .footer-inner h1 {
    z-index: 5;
  }

  .footer__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    z-index: 5;
  }

  .content-text {
    justify-content: flex-start;
    color: #fff;
    z-index: 5;
  }

  .content-text h2 {
    margin-bottom: 2rem;
  }

  .content-text p {
    margin: 0;
    line-height: 1.6;
  }

  .content-text b {
    margin: 0;
    line-height: 1.6;
  }

  .content-text div {
    margin-top: 2rem;
  }

  .content-text a {
    z-index: 5;
    color: #fff;
    font-weight: 600;
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
    padding: 10px 30px 10px 30px;
    transition-property: background-color, color;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
  }

  .content-text a:hover {
    cursor: pointer;
    color: #111;
    background-color: #fff;
    transition-property: background-color, color;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
  }

  /* 
  .footer__links {
    margin: 0px;
    padding: 0;
    justify-content: flex-start;
    width: 100%;
  }

  .footer__links ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .footer__links>li {
    float: left;
    margin-bottom: 30px;
    margin-right: 7%;
  }

  .footer__links {
    list-style: none;
  }
 */

  .footer__newsletter h6 {
    font-size: 2rem;
    margin-bottom: 32px;
  }

  .footer__newsletter p {
    color: #fff;
    font-size: 16px;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .footer__newsletter {
    justify-content: flex-end;
    margin: 0;
    max-width: 325px;
    /* 移动端要order:-1 使得此元素在首位 */
  }

  .footer-from {
    max-width: 300px;
    overflow: hidden;
  }

  .newsletter input {
    color: #fff;
    border: 1px solid #fff;
    outline: none;
    background: transparent;
    /* background-color: #003149; */
    padding: 8px;
    /* width: 80%; */
    width: 90%;
  }

  .newsletter input:hover {
    cursor: pointer;
  }

  .newsletter input::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #fff;
  }

  .newsletter {
    position: relative;
  }

  .newsletter button {
    outline: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 25px;
    -webkit-appearance: none;
    background: transparent;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    height: 100%;
    width: 70px;
  }

  .newsletter button i {
    font-size: 1em;
    color: #fff;
  }

  /* footer 2 */
  .colophon__wrapper {
    width: 95%;
    margin: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    align-items: center;
  }

  .colophon__wrapper a {
    text-decoration: none;
    color: #fff;
  }

  .colophon__social {
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: end;
    margin-bottom: 0;
    max-width: 150px;
    color: #fff;
  }

  .colophon__links {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    order: -1;
    width: 450px;
    text-align: center;
    color: #fff;
  }

  .colophon__links li {
    border-right: 1px solid hsla(0, 0%, 100%, 0.5);
    height: 14px;
    line-height: 1;
    width: auto;
    padding: 0 15px;
  }

  .colophon__links :last-child {
    border-right: none;
  }

  .colophon__social l1 {
    margin-right: 5px;
  }

  .colophon__social i {
    margin-top: 5px;
    font-size: 24px;
    padding: 0.1rem 0.5rem;
  }

  .colophon__wrapper {
    font-size: 14px;
    color: #fff;
  }

  .fade-out {
    opacity: 0.5;
    transition-duration: 0.6s;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
  }

  .fade-out:hover {
    opacity: 1;
    transition-duration: 0.6s;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
  }
}

@media screen and (max-width: 1200px) and (min-width: 760px) {
  .map {
    width: 100%;
    background-image: url("./../imgs/tokey-1921.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    position: relative;
  }

  .map::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background-color: black;
    opacity: 0.5;
    z-index: 1;
    width: 100%;
    height: 100%;
  }

  .map-inner {
    width: 90%;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
  }

  .map-container {
    padding-top: 40px;
    height: 400px;
    width: 75%;
  }

  .map-content {
    height: 400px;
    width: 25%;
  }

  .map-height {
    width: 90%;
    height: 320px;
    border-radius: 5px;
  }

  #map {
    height: 100%;
    border-radius: 5px;
  }

  .content-text {
    color: #fff;
    padding-top: 100px;
    /* padding-left: 10px;   */
  }

  .content-text h2 {
    margin-bottom: 2rem;
  }

  .content-text p {
    margin: 0;
    line-height: 1.6;
  }

  .content-text b {
    margin: 0;
    line-height: 1.6;
  }

  .content-text div {
    margin-top: 2rem;
  }

  .content-text a {
    z-index: 5;
    color: #fff;
    font-weight: 600;
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
    padding: 10px 30px 10px 30px;
    transition-property: background-color, color;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
  }

  .content-text a:hover {
    cursor: pointer;
    color: #111;
    background-color: #fff;
    transition-property: background-color, color;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
  }

  .footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .footer .c-white {
    color: #fff;
  }

  .footer-inner {
    width: 100%;
  }

  .footer-inner h1 {
    width: 90%;
    margin: 0 auto;
  }

  .footer__wrapper {
    display: block;
    padding-top: 50px;
    width: 90%;
    margin: 0 auto;
  }

  .footer__links {
    width: 100%;
    list-style: none;
    margin: 20px auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .footer__links li {
    width: 30%;
    margin-bottom: 30px;
    padding: 5px;
  }

  .footer__sublinks {
    list-style: none;
    padding: 0;
  }

  .footer__sublinks li {
    width: 100%;
    margin: 0;
  }

  .footer__newsletter {
    display: block;
    margin: 0;
    order: 1;
    /* 移动端要order:-1 使得此元素在首位 */
  }

  .footer a {
    color: inherit;
    text-decoration: none;
  }

  .footer__newsletter h6,
  .footer__links h6 {
    margin-bottom: 1.2rem;
  }

  .footer__newsletter p,
  .footer__links a {
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
  }

  .footer__links a:hover {
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }

  .footer__logo h1 {
    margin: 0;
  }

  .footer__newsletter p {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .newsletter.is-light input {
    color: #fff;
    border: 1px solid #fff;
  }

  .reader {
    outline: none;
    background: transparent;
    /* background-color: #003149; */
    padding: 1.6em 1.4em 1.7em;
    width: 100%;
  }

  .newsletter {
    position: relative;
  }

  .newsletter button {
    outline: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    -webkit-appearance: none;
    background: transparent;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    height: 100%;
    width: 70px;
  }

  .newsletter button i {
    font-size: 1em;
    color: #fff;
  }

  /* footer 2 */
  .colophon__wrapper {
    width: 95%;
    margin: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    align-items: center;
  }

  .colophon__wrapper a {
    text-decoration: none;
    color: #fff;
  }

  .colophon__social {
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: end;
    margin-bottom: 0;
    max-width: 150px;
    color: #fff;
  }

  .colophon__links {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    order: -1;
    width: 450px;
    text-align: center;
    color: #fff;
  }

  .colophon__links li {
    border-right: 1px solid hsla(0, 0%, 100%, 0.5);
    height: 14px;
    line-height: 1;
    width: auto;
    padding: 0 15px;
  }

  .colophon__links :last-child {
    border-right: none;
  }

  .colophon__social l1 {
    margin-right: 5px;
  }

  .colophon__social i {
    margin-top: 5px;
    font-size: 24px;
    padding: 0.1rem 0.5rem;
  }

  .colophon__wrapper {
    font-size: 14px;
    color: #fff;
  }

  .fade-out {
    opacity: 0.5;
    transition-duration: 0.6s;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
  }

  .fade-out:hover {
    opacity: 1;
    transition-duration: 0.6s;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
  }
}

@media screen and (max-width: 760px) {
  .map {
    width: 100%;
    background-image: url("./../imgs/tokey-1921.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: top; */
    background-attachment: fixed;
    position: relative;
  }

  .map::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background-color: black;
    opacity: 0.5;
    z-index: 0;
    width: 100%;
    height: 100%;
  }

  .map-inner {
    width: 100%;
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .map-container {
    width: 100%;
    z-index: 5;
  }

  .map-height {
    width: 100%;
    height: 350px;
  }

  #map {
    height: 100%;
  }

  .map-content {
    z-index: 5;
    display: flex;
    justify-content: center;
  }

  .content-text {
    color: #fff;
    padding-top: 30px;
    z-index: 5;
  }

  .content-text h2 {
    margin-bottom: 2rem;
  }

  .content-text p {
    margin: 0;
    line-height: 1.6;
  }

  .content-text b {
    margin: 0;
    line-height: 1.6;
  }

  .content-text div {
    margin-top: 2rem;
    text-align: center;
  }

  .content-text a {
    z-index: 5;
    color: #fff;
    font-weight: 600;
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
    padding: 10px 30px 10px 30px;
    transition-property: background-color, color;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
  }

  .content-text a:hover {
    cursor: pointer;
    color: #111;
    background-color: #fff;
    transition-property: background-color, color;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
  }

  /* map */

  .footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .footer .c-white {
    color: #fff;
  }

  .footer-inner {
    width: 100%;
  }

  .footer-inner h1 {
    width: 90%;
    margin: 0 auto;
  }

  .footer__wrapper {
    padding-top: 50px;
  }

  /* .footer__links {
    margin: 0px;
    padding: 0;
    width: 100%;
  } */

  .footer__links {
    list-style: none;
    margin: 20px auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .footer__links li {
    width: 50%;
    margin: 0 20px 30px 20px;
    padding: 5px;
  }

  .footer__sublinks {
    list-style: none;
    padding: 0;
  }

  .footer__sublinks li {
    width: 100%;
    margin: 0;
  }

  .footer__newsletter {
    margin: 20px;
    width: 80%;
    order: 1;
    padding: 0;
    /* 移动端要order:-1 使得此元素在首位 */
  }

  .footer a {
    color: inherit;
    text-decoration: none;
  }

  .footer__newsletter h6,
  .footer__links h6 {
    margin-bottom: 1.2rem;
  }

  .footer__newsletter p,
  .footer__links a {
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
  }

  .footer__links a:hover {
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }

  .footer__logo h1 {
    margin: 0;
  }

  .footer__newsletter p {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .footer-from {
    width: 100%;
    overflow: hidden;
    margin: 50px auto;
  }

  .newsletter.is-light input {
    color: #fff;
    border: 1px solid #fff;
    outline: none;
    background: transparent;
    /* background-color: #003149; */
    padding: 1.6em 1.4em 1.7em;
    /* width: 80%; */
    width: 100%;
  }

  .newsletter {
    position: relative;
  }

  .newsletter button {
    outline: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 25px;
    -webkit-appearance: none;
    background: transparent;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    height: 100%;
    width: 70px;
  }

  .newsletter button i {
    font-size: 1em;
    color: #fff;
  }

  /* footer 2 */
  .colophon__wrapper {
    width: 95%;
    margin: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    display: block;
  }

  .colophon__wrapper a {
    text-decoration: none;
    color: #fff;
  }

  .colophon__links {
    padding: 0;
    list-style: none;
    display: block;
    /* order: -1; */
    text-align: center;
    color: #fff;
    margin-bottom: 1rem;
    margin: 0 auto;
  }

  .colophon__links li {
    /* display: block; */
    width: 150px;
    margin: 0 auto;
  }

  .colophon__social {
    padding: 0;
    list-style: none;
    margin: 0 auto;
    margin-bottom: 0;
    max-width: 150px;
    color: #fff;
  }

  .colophon__social l1 {
    margin-right: 5px;
  }

  .colophon__social i {
    margin-top: 5px;
    font-size: 24px;
    padding: 0.1rem 0.5rem;
  }

  .colophon__wrapper {
    font-size: 14px;
    color: #fff;
  }

  .fade-out {
    opacity: 0.5;
    transition-duration: 0.6s;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
  }

  .fade-out:hover {
    opacity: 1;
    transition-duration: 0.6s;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
  }
}