.carousel {
  height: calc(100vh - 80px);
  margin-top: 0px;
}

.carousel-img {
  height: calc(100vh - 80px);
  object-fit: cover;
  cursor: pointer;
}

.main-card {
  padding: 0 2em;
}

.card:hover {
  cursor: pointer;
  border-radius: 0.45rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.125);
}

/* news */
.news-content {
  margin-top: 1.25rem;

}

.news-content .row {
  margin: 0 auto;

}

.news-content hr {
  border: 0;
  color: #333;
  background-color: #333;
  height: 2px;
  margin: 0;

}