/* 走马灯 */
.carousel {
  height: calc(100vh - 80px);
  margin-top: 0px;

}

.carousel-img {
  height: calc(100vh - 80px);
  object-fit: cover;
  cursor: pointer;
}

.carousel-item {
  position: relative;
  overflow: hidden;
}

.carousel-item::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  color: #fff;
  background-color: rgb(99, 99, 99);
  opacity: 0.2;
  z-index: 1;
  width: 100%;
  height: 100%;
}

/* 关于我们 */
.about-us {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  letter-spacing: 1.5px;
  display: flex;
  justify-content: center;
}

.about-inner {
  width: 60%;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.about-inner b {
  color: #c9c6c6e8;
}

.about-inner h1 {
  /* border-bottom: 3.5px solid #264989;  */
  margin-top: 7.5px;
  margin-bottom: 2.5rem;
}

.about-inner hr {
  background-color: #264989;
  height: 3.5px;
  width: 15%;
}

.about-inner p {
  margin: 0 auto;
  width: 80%;
  margin-bottom: 1.5rem;
}

.about-icon {
  display: flex;
  justify-content: center;
}

.about-icon-item {
  /* display: block; */
  flex-wrap: wrap;
  margin: 2em;
}

.about-inner button {
  width: 20%;
  padding: 0.5rem;
  border: 2px solid #264989c7;
  border-radius: 0.5rem;
  background-color: #fff;
  outline: none;
  font-size: 22px;
  transition-property: background-color, color;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  margin-top: 2rem;
}

.about-inner button:hover {
  cursor: pointer;
  color: #fff;
  background-color: #264989;
  transition-property: background-color, color;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

/* section */
.index--recruit--btm {
  margin-top: 5rem;
  width: 100%;
  height: 270px;
}

.bg {
  background-image: url("./../imgs/business/513-1920x968.jpg");
  /* background-size: 100% ; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  position: relative;
}

.bg::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background-color: black;
  opacity: 0.5;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.content-inner-y {
  padding-top: 80px;
  padding-bottom: 80px;
}

.section-text {
  z-index: 5;
  padding: 15px;
  color: #fff;
  font-size: 16px;
}

.btn-box {
  z-index: 5;
  color: #fff;
  border: 1px solid white;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  transition-property: background-color, color;
  transition-duration: 0.25s;
  transition-timing-function: ease-out;
}

.btn-box:hover {
  cursor: pointer;
  color: #111;
  background-color: #fff;
  transition-property: background-color, color;
  transition-duration: 0.25s;
  transition-timing-function: ease-out;
}

.btn-wrap a {
  font-size: 18px;
}

/* work-card  */
.cards {

  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 5rem;
}

.card-title {
  text-align: center;
  display: block;
}

.card-title hr {
  margin-top: 2rem;
  background-color: #264989;
  height: 3px;
  width: 5.56%;
}

.card-inner {
  margin: 0 auto;
  width: 61.8%;
  padding: 5px;
  display: flex;
  justify-content: center;
}

.card-list {
  width: 960px;
  min-width: 960px;
  display: flex;
  flex-wrap: wrap;
}

.card-item {
  position: relative;
  width: 300px;
  margin: 10px;
}

.card-item>img {
  width: 300px;
  height: auto;
}

.card-item .mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 200px;
  background: rgba(36, 36, 36, 0.6);
  color: #ffffff;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color, color;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.mask>a {
  font-size: 22px;
  color: #fff;
  border: 1px solid white;
  border-radius: 5px;
  text-align: center;
  padding: 2.5px 15px 2.5px 15px;
  text-decoration: none;
}

.card-item .mask:hover {
  cursor: pointer;
  transform: all 0.5s;
  opacity: 1;
  
}

.card-box {
  /* text-align: left; */
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.box-title {
  text-decoration: underline;
  font-weight: bold;
  margin-top: 1rem;
}

.box-title:hover {
  cursor: pointer;
  text-decoration: none;
  font-weight: normal;
}

.works-tag {
  width: 300px;
  font-size: 13px;
  color: #a9a9a9;
  margin-top: 5px;
}

.card-item {
  opacity: 1;
  transform: translateY(0px);
  transition: all 1s ease 0s;
}